<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batch.demo.dao.SampleDao">
               
	<select id="selectSampleList" resultType="com.batch.demo.model.SampleModel">
	   
	   SELECT EmployeeID, 
	          EmpFirstName,
	          EmpLastName,
	          EmpStreetAddress,
	          EmpCity,
	          EmpState,
	          EmpZipCode, 
	          EmpAreaCode,
	          EmpPhoneNumber,
	          EmpDOB,
	          ManagerID
	    FROM  SalesOrdersSample.Employees
	   
    </select>
   	
</mapper>